@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Components/components";

html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:"roboto", sans-serif;
    overflow-x: hidden;
}

.header{
    padding: 4%;
    @include shadow($shadow__Y--short,$shadow__opacity--short);
    &__logo{
        @include center;
    }
}

.localisation{
    background-color: #EAEAEA;
    @include center;
    position: relative;
    z-index: -1;
    color: darken(#EAEAEA, 65%);
    &__text{
        font-weight: 500;
    }
    &__icon{
        position: relative;
        right: 8%;
    }
}

.welcome{
    background: $background;
    height: 340px;
    @include center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
}

.subtitle{
    font-weight: 300;
    color: lighten(#000 ,40%);
    margin:-10px 0 35px 0;
}

.fonctionement{
    padding: 30px;
}

.step{
    background-color: $background;
    display: flex;
    align-items: center;
    width: 95%;
    height: 85px;
    @include shadow;
    border-radius: 18px / 30px;
    margin-bottom: 25px;
    &__number{
        background: $primary;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        @include center;
        margin: 0;
        position: relative;
        right: 3.5%;
        color: $white;
    }
    &__text{
        @include center;
    }
    &__icon{
        margin: 0 10px 0 3px;
        color: transparentize(#000000, $amount: 0.4);
        &--purple{
            color: $primary;
        }
    }
    &--purple{
        background: transparentize($primary, 0.8);
    }
}

.restaurants{
    padding: 30px;
    background: $background;
}

.card{
    border-radius: $card-border;
    background: $white;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(7, 14%) 2.2%;
    grid-template-rows: 3% repeat(6, 10%) 5%  15% 15%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
    @include shadow;
    margin-bottom: 25px;
    cursor: pointer;
    &__img{
        width: 100%;
        height: 100%;
        border-radius: $card-border $card-border 0 0 ;
        grid-area: 1 / 1 / 8 / 9;
        object-fit: cover;
    }
    &__new{
        background: $tertiary;
        color: darken($tertiary, 35%);
        grid-area: 2 / 6 / 3 / 8;
        font-size: 85%;
        @include center;
        margin: auto;
        padding: 0 10% 0 10%;
        height: 70%;
    }
    &__title{
        grid-area: 9 / 1 / 10 / 8;
        margin: 0 10px;
        font-size: 130%;
        word-wrap: break-word;
    }
    &__text{
        grid-area: 10 / 1 / 11 / 8;
        margin : 0 10px;
    }
    &__icon{
        @include center;
        grid-area: 9 / 7 / 10 / 8;
        font-size: $heart-size;
        &--full{
            @include center;
            font-size: $heart-size;
            grid-area: 9 / 7 / 10 / 8;
            background: -webkit-linear-gradient(354deg, $primary 5%, $secondary 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform-origin: 50% 100%;
            opacity: 0;
            &:active{
                animation-name: heart;
                animation-duration: 350ms;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes heart {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.footer{
    background: #353535;
    color: $white;
    padding: 10px 30px;
    width: 100%;
    height: 240px;
    &__title{
        font-family: "Shrikhand", sans-serif;
        font-weight: lighter;
    }
    &__icon{
        margin: 0 10px 0 0 ;
    }
}