@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&family=Shrikhand&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background--light: #F6F6F6;

$shadow__Y: 6px;
$shadow__Y--short: 1px; 
$shadow__opacity: rgba(0,0,0,0.4);
$shadow__opacity--short: rgba(0,0,0,0.25);

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@mixin shadow($Y : $shadow__Y, $opacity : $shadow__opacity) {
    box-shadow: 0px $Y 15px  5px $opacity;
}

html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:"roboto", sans-serif;
}

.header{
    padding: 4%;
    @include shadow($shadow__Y--short,$shadow__opacity--short);
    &__logo{
        @include center;
    }
}

.localisation{
    background-color: #EAEAEA;
    @include center;
    position: relative;
    z-index: -1;
    color: darken(#EAEAEA, 65%);
    &__text{
        font-weight: 500;
    }
    &__icon{
        position: relative;
        right: 8%;
    }
}