.button{
    padding: 0 10%;
    border-radius: 50px;
    background: linear-gradient($gradient);
    text-decoration: none;
    @include shadow;
    &:hover{
        animation: button-hover;
        animation-duration: 150ms;
        animation-fill-mode: both;
    }
    &__text{
        color: $white;
    }
    &--command{
        display: flex;
        justify-content: center;
        margin: 45px auto 0 auto;
        max-width: 120px;
    }
}