@keyframes loader__background {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    25%{
        opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    90%{
        opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
}

@keyframes heart {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes button-hover{
    0%{
    }
    100%{
        filter:brightness(120%);
        @include shadow($shadow__Y, $shadow__opacity--short);
    }
}

@keyframes arrival {
    0%{
        transform: translateY(50px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes push {
    0%{
        width: 0px;
    } 
    45%,55%{
        width: 85px;
    }
    100%{
        width: 0;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(720deg);
    }
}