@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@mixin second-title{
    font-family: "Shrikhand", sans-serif;
    font-weight: lighter;
}

@mixin shadow($Y : $shadow__Y, $opacity : $shadow__opacity) {
    box-shadow: 0px $Y 15px  0px $opacity;
}

@mixin d-card-text{
    margin: 0 10px 0 0 ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    min-width: 0;
}

@mixin arrival ($num : 0){
    animation: arrival 325ms cubic-bezier(.43,.16,.27,1) calc(325ms * $num)1  both;
    transform-origin: 0 100%;
}

@mixin tablet{
    @media screen and (min-width : map-get($responsive, tablet)) {
        @content;
    }
}

@mixin pc{
    @media screen and (min-width : map-get($responsive, pc)) {
        @content;
    }
}

@mixin wide{
    @media screen and (min-width : map-get($responsive, wide)) {
        @content;
    }
}